{% extends 'index.html' %}
{% block content %}
{% load static %}

<!-- <section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="index.html" class="editContent"></a> <p></li>
                <li class="active editContent">
                    </li>
            </ul>
            </div>
</div>
</div>
</section> -->
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">

            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col text-center"><br><br>
                        </div>
                    </div>
                    <div class="row about_row">
                        <div class="col-lg-6">
                            <div class="about_content"><br>
                                <div class="text_highlight" style="color:rgb(0, 0, 0)"><br>Welcome to FOCUZ, your ultimate companion for discovering and booking unforgettable travel experiences. At FOCUZ, we are passionate about making travel accessible, enjoyable, and stress-free for adventurers around the globe. With an easy-to-navigate interface, insightful travel guides, and real-time customer support, we ensure a seamless planning and booking process from start to finish. Whether you're seeking a luxurious getaway, a budget-friendly escape, or an off-the-beaten-path adventure, FOCUZ is here to turn your travel dreams into reality. Join us in exploring the world, one journey at a time.</div>
                                <div class="about_text" >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"><br>
                            <div class="about_image"><img src="{% static 'images/aboutus.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}